body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #212f3f;
}

#menu {
    height: 100%;
    position: fixed;
    background-color: #FED057;
    width: 300px;
    transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
    transform: translateX(-100%);
    left: 60px;
    cursor: pointer;
    z-index: 999;
}

#menu.expanded {
    transform: translateX(0%);
    left: 0px;
    
}

.menu-inner {
    width: 100%;
    height: 100%;
    position: relative;
}

#blob {
    top: 0;
    z-index: -1;
    right: 60px;
    transform: translateX(100%);
    height: 100%;
    position: absolute;
}

#blob-path {
    height: 100%;
    fill: #FED057;
}

.hamburger {
    right: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -10px;

}

.hamburger .line {
    width: 100%;
    height: 4px;
    background-color: rgb(75, 75, 75);
    position: absolute;
}

.hamburger .line:nth-child(2) {
    top: 50%;
    margin-top: -2px;
}

.hamburger .line:nth-child(3) {
    bottom: 0;
}

.texto-mouse {
    position: absolute;
    left: 28%;
    top: -5%;
    color: #bbbbbb;
    font-family:'Courier New', Courier, monospace;
    font-weight:100;
    z-index: 997;
    font-size: 16px;

}

ul {
    padding: 0;
    list-style: none;
    width: 80%;
    margin-left: 20%;
    position: absolute;
    top: 10px;
}

ul li {
    color: black;
    font-family: sans-serif;
    padding: 20px 0;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    
}

ul li a {
    text-decoration: none;
    color:black;
    font-family: 'Courier New', Courier, monospace;
}

ul li:hover {
    transform: scale(1.1);
    font-weight: 600;
    color: rgb(0, 0, 0);

}

.dot {
    position: absolute;
    width: 6vw;
    height: 6vw;
    background-color: rgba(59, 227, 255, 0.2);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px rgba(6, 98, 236, 0.3);

    overflow: hidden;
    backdrop-filter: blur(12px);

    opacity: 0.8;
    /* Opacidade para um efeito de transparência */
    background: radial-gradient(circle at 50% 30%, rgba(255, 145, 255, 0.2) 0%, rgba(41, 152, 172, 0.3) 60%);
    /* Gradiente para um efeito mais natural */
}

.dots-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.div-container {
    max-width: 90%;
    max-height: 90%;
}

.modal {
    display: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Largura do modal em viewport width */
    max-width: 600px; /* Máxima largura do modal */
    height: auto;
    align-items: center;
    justify-content: center;
    z-index: 998;
    margin-top: 15vh;
    overflow: auto;

}

.modal-content {
    background: rgba(255, 255, 255, 0.3); /* Cor de fundo com opacidade */
    padding: 20px;
    border-radius: 5px;
    backdrop-filter: blur(10px); /* Adiciona desfoque ao fundo */
    font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
}

.modal.open {
    display: flex;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 40px; /* Ajuste o tamanho da fonte conforme necessário */

    z-index: 999;
}

